# fw: каталоги сборки конфигураций Eclipse (по платам)
fw/TangNano9K/*
!fw/TangNano9K/riscv.bin
!fw/TangNano9K/riscv.fs
!fw/TangNano9K/riscv.lst
fw/TangPrimer20K/*
!fw/TangPrimer20K/riscv.bin
!fw/TangPrimer20K/riscv.fs
!fw/TangPrimer20K/riscv.lst
fw/Release/*
!fw/Release/riscv.bin
!fw/Release/riscv.fs
!fw/Release/riscv.lst

# hw
hw/boards/*/impl/*
!hw/boards/*/impl/*.json
hw/boards/*/*.user
hw/boards/*/impl_oss/
hw/src/gwlib/*
!hw/src/gwlib/*.v
hw/src/gwlib/*_tmp.v
hw/*.user
hw/src/test
hw/sim/build/
__pycache__/

# sw
sw/socgen/eclipse/build/*
!sw/socgen/eclipse/build/askorv32-gwsoc-repo.zip
sw/rectgui/build/*
!sw/rectgui/build/askorv32-rectgui-repo.zip

# sdk (установщики в репозитории не храним)
sdk/*.exe
sdk/*.msix
sdk/*.zip
sdk/*.tgz
sdk/installer/stage/
sdk/installer/stage-ws/
sdk/installer/out/

# General
*.bck
*.bak
﻿.~*
_autosave-*
*/#auto_saved_files#
*/*-backups/*
sw/mergetool/fsprobe/work/
sw/rectgui/dist/
