<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- Конфигуратор ПЛИС askoRV32: редактор файлов .gwsoc и команда открытия из проекта -->
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="ru.askorv32.gwsoc.editor"
            name="%editorName"
            extensions="gwsoc"
            default="true"
            icon="icons/chip.png"
            class="ru.askorv32.gwsoc.GwsocEditor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <command
            id="ru.askorv32.gwsoc.open"
            name="%openCommand"
            description="%openCommandDesc"
            defaultHandler="ru.askorv32.gwsoc.OpenConfiguratorHandler">
      </command>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <!-- Контекстное меню проекта в Project Explorer -->
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command commandId="ru.askorv32.gwsoc.open" icon="icons/chip.png" style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate ifEmpty="false" operator="or">
                     <adapt type="org.eclipse.core.resources.IProject"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <!-- Кнопка на главной панели инструментов -->
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="ru.askorv32.gwsoc.toolbar">
            <command commandId="ru.askorv32.gwsoc.open" icon="icons/chip.png" tooltip="%openCommandDesc" style="push"/>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
